header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  background-color: white;
  font-size: 14px;
  font-family: Verdana;
  font-weight: bold;
  width: 100%;
  z-index: 1;
  height: 80px;
  position: fixed;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.logo img {
  width: 70px;
  height: 60px;
  margin-right: 12px;
}

.logo span {
  color: MediumAquamarine;
}

header nav {
  padding-right: 40px;
}

a {
  color: black;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

body {
  margin: auto;
}

/* Main Section */
.main {
  border: 1px solid black;
  display: flex;
  position: fixed;
  top: 80px;
  padding-top: 70px;
  padding-bottom: 70px;
  max-width: 1000px;
  min-width: 800px;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
}

/* Section One */
.sect1 {
  border: 1px solid black;
  width: 630px;
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
}

#headline-b {
  font-weight: bold;
}

#headline-w {

}

.sb {
  padding-top: 10px;
  padding-bottom: 10px;
}

.story {
  border: 1px solid black;
}

/* Section Two */
.sect2 {
  border: 1px solid black;
  width: 300px;
  display: flex;
}

/* Section Three */
.sect3 {
  border: 1px solid black;
  width: 240px;
  display: flex;
}
